- content_for :page_title do
  = "Document details for HMCTS Form finder"

.grid-row
  .column-full

    = render partial: 'layouts/header', locals: {page_heading: t(:search_page_title)}
    %h2.heading-medium
      = t(:search_result_heading)
      = params[:searchcode]
      - if params[:searchcategory].first.present?
        - if params[:locale] == 'cy'
          = Category.find(params[:searchcategory].first).welsh_name
        - else
          = Category.find(params[:searchcategory].first).english_name
- if params[:locale] == 'en'
  .grid-row
    - if @english_documents.exists?
      .column-one-third
        %h2.bold-medium
          Forms:
      .column-two-thirds
        %ul.list
          - @english_documents.each do | doc_attachment |
            %li
              %span.reference
                = link_to doc_attachment.code, search_show_path(:document => doc_attachment.id)
              %br
                = doc_attachment.title

  .grid-row
    - if @english_leaflets.exists?
      .column-one-third
        %h2.bold-medium
          Leaflets:
      .column-two-thirds
        %ul.list
          - @english_leaflets.each do | doc_attachment |
            %li
              %span.reference
                = link_to doc_attachment.code, search_show_path(:document => doc_attachment.id)
              %br
                = doc_attachment.title

  .grid-row
    - if @other_documents.exists?
      .column-one-third
        %h2.bold-medium
          Other documents:
      .column-two-thirds
        %ul.list
          - @other_documents.each do | doc_attachment |
            %li
              %span.reference
                = link_to doc_attachment.code, search_show_path(:document => doc_attachment.id)
              %span.attributes
                = doc_attachment.language.english_name
              %br
                = doc_attachment.title
- if params[:locale] == 'cy'
  .grid-row
    - if @welsh_documents.exists?
      .column-one-third
        %h2.bold-medium
          Forms:
      .column-two-thirds
        %ul.list
          - @welsh_documents.each do | doc_attachment |
            %li
              %span.reference
                = link_to doc_attachment.code, search_show_path(:document => doc_attachment.id)
              %br
                = doc_attachment.title

  .grid-row
    - if @welsh_leaflets.exists?
      .column-one-third
        %h2.bold-medium
          Leaflets:
      .column-two-thirds
        %ul.list
          - @welsh_leaflets.each do | doc_attachment |
            %li
              %span.reference
                = link_to doc_attachment.code, search_show_path(:document => doc_attachment.id)
              %br
                = doc_attachment.title

  .grid-row
    - if @other_documents.exists?
      .column-one-third
        %h2.bold-medium
          Other documents:
      .column-two-thirds
        %ul.list
          - @other_documents.each do | doc_attachment |
            %li
              %span.reference
                = link_to doc_attachment.code, search_show_path(:document => doc_attachment.id)
              %span.attributes
                = doc_attachment.language.english_name
              %br
                = doc_attachment.title
