.grid-row
  .column-full

    - if @language.errors.any?

      .error-summary{role: 'group', 'aria-labelledby':'error-summary-add-language', tabindex: '-1'}
        %h1#error-summary-add-language.heading-medium.error-summary-heading
          = "#{pluralize(@language.errors.count, "error")} prevented this language from being added:"
        %p
        %ul.error-summary-list
          - @language.errors.full_messages.each do |msg|
            %li= msg

.grid-row
  .column-two-thirds

    = form_for @language do |f|
      = f.text_field :english_name
      = f.text_field :welsh_name
      = f.text_field :code
      .form-group
        %label.block-label.selection-button-checkbox{ for:"language_inactive" }
          Inactive
          = f.check_box(:inactive, {}, true)

      = f.submit "Save", class:"button", role:"button"
