.grid-row
  .column-two-thirds

    - if @language.errors.any?

      .error-summary{ role: 'group', 'aria-labelledby': 'error-summary-add-language', tabindex: '-1' }
        %h1#error-summary-add-language.heading-medium.error-summary-heading
          = t('error_count', count: @language.errors.count ) + t('language.submit_error')

        %ul.error-summary-list
          - @language.errors.full_messages.each do |msg|
            %li= msg

    = form_for @language do |f|

      .form-group
        = f.text_field :english_name

      .form-group
        = f.text_field :welsh_name

      .form-group
        = f.text_field :code

      .form-group
        %label.block-label.selection-button-checkbox{ for: "language_inactive" }
          = f.check_box(:inactive, {}, true)
          = t('label.inactive')

      .button-holder
        = f.submit class: 'button', role: 'button'
        = link_to t('action.cancel'), languages_path, class: 'button-secondary button-left-spacing', role: 'button'

  .column-one-third
