- content_for :page_title do
  = "Document language management for HMCTS Form finder"

= render partial: 'layouts/header', locals: {page_heading: 'Document language management'}

.grid-row
  .column-full

    = link_to 'Add a language', new_language_path, class: 'button'

    .table-container.container
      %table.report
        %caption
          %span.table-caption
            = @languages.size
            languages currently available
        %colgroup
          %col
          %col
          %col
        %thead
          %tr
            %th{scope:'col'}
              = "English name"
            %th{scope:'col'}
              = "Welsh name"
            %th{scope:'col'}
              = "Code"
            %th
            %th
        %tbody
          - @languages.each do |language|
            %tr
              %td
                = language.english_name
              %td
                = language.welsh_name
              %td
                = language.code
              %td
                = link_to 'Edit', edit_language_path(language), {class:"button-secondary", role:"button"}
              %td
                = link_to 'Delete', language, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'button-warning', role:"button"