- content_for :page_title do
  = "Document languages for HMCTS Form finder"

.grid-row
  .column-full

    = render partial: 'layouts/header', locals: { page_heading: t('language.heading') }

    = link_to t('language.add'), new_language_path, class: 'button', role: 'button'

    .table-container.container
      %table.report
        %caption
          %span.table-caption
            = @languages.size
            = t('language.available')
        %colgroup
          %col
          %col
          %col
          %col
        %thead
          %tr
            %th{scope:'col'}
              = t('helpers.label.language.english_name')
            %th{scope:'col'}
              = t('helpers.label.language.welsh_name')
            %th{scope:'col'}
              = t('helpers.label.language.code')
            %th{scope:'col'}
              = t('label.inactive')
            %th
        %tbody
          - @languages.each do | language |
            %tr
              %td
                = language.english_name
              %td
                = language.welsh_name
              %td
                = language.code
              %td
                = language.inactive ? 'Yes' : 'No'
              %td
                = link_to t('action.edit'), edit_language_path(language)
