- content_for :page_title do
  = "Document languages for HMCTS Form finder"

.grid-row
  .column-full

    = render partial: 'layouts/header', locals: {page_heading: 'Document languages'}

    = link_to 'Add a language', new_language_path, {class:"button", role:"button"}

    .table-container.container
      %table.report
        %caption
          %span.table-caption
            = @languages.size
            languages currently available
        %colgroup
          %col
          %col
          %col
          %col
        %thead
          %tr
            %th{scope:'col'}
              = "English name"
            %th{scope:'col'}
              = "Welsh name"
            %th{scope:'col'}
              = "Code"
            %th{scope:'col'}
              = "Inactive"
            %th
        %tbody
          - @languages.each do |language|
            %tr
              %td
                = language.english_name
              %td
                = language.welsh_name
              %td
                = language.code
              %td
                = language.inactive ? 'Yes' : 'No'
              %td
                = link_to "Edit", edit_language_path(language), class:"button-secondary", role:"button"
