- content_for :page_title do
  = "Document languages for HMCTS Form finder"

.grid-row
  .column-full

    = render partial: 'layouts/header', locals: {page_heading: 'Document languages'}

    - if @language.english_name.present?
      %p
        English name:
        = @language.english_name

    - if @language.welsh_name.present?
      %p
        Welsh name:
        = @language.welsh_name

    %p
      Code:
      = @language.code

    %p
      Inactive:
      = @language.inactive ? 'Yes' : 'No'

.grid-row
  .column-one-half
    = link_to 'Edit', edit_language_path(@language), {class:'button-secondary', role:'button'}
  .column-one-half
    = link_to 'Continue', languages_path, {class: 'button button-left-spacing', role:'button'}
