- content_for :page_title do
  = "language change confirmation for HMCTS Form finder"

= render partial: 'layouts/header', locals: {page_heading: 'Document languages'}

.grid-row
  .column-full
    .confirmation-header

      %h1.page-title.bold-large
        %object{:type => 'image/svg+xml', :data => image_path('icons/tick-white.svg'), :class => "confirmation-tick"}
        = "Language successfully added/amended"

      - if @language.english_name.present?
        .normal
          English name:
          = @language.english_name

      - if @language.welsh_name.present?
        .normal
          Welsh name:
          = @language.welsh_name

      - if @language.code.present?
        .normal
          Code:
          = @language.code

      .normal
        Inactive:
        = @language.inactive ? 'Yes' : 'No'

.grid-row
  .column-one-half
    = link_to 'Edit', edit_language_path(@language), {class: 'button-secondary', role: 'button'}
  .column-one-half
    = link_to 'Continue', languages_path, {class: 'button button-left-spacing', role: 'button'}
