- content_for :page_title do
  = "Document languages for HMCTS Form finder"

.grid-row
  .column-full

    = render partial: 'layouts/header', locals: {page_heading: 'Document languages'}

    - if @language.english_name.present?
      %p
        = t('helpers.label.language.english_name')+':'
        = @language.english_name

    - if @language.welsh_name.present?
      %p
        = t('helpers.label.language.welsh_name')+':'
        = @language.welsh_name

    %p
      = t('helpers.label.language.code')+':'
      = @language.code

    %p
      = t('label.inactive')+':'
      = @language.inactive ? 'Yes' : 'No'

.grid-row
  .column-one-half
    = link_to t('links.edit'), edit_language_path(@language), class: 'button-secondary', role: 'button'
  .column-one-half
    = link_to t('links.continue'), languages_path, class: 'button button-left-spacing', role: 'button'
