- content_for :page_title do
  = "Document languages for HMCTS Form finder"

.grid-row
  .column-full

    = render partial: 'layouts/header', locals: { page_heading: t('language.summary') }

.grid-row
  .column-two-thirds

    %h3.heading-small
      = t('helpers.label.language.english_name')
    - if @language.english_name.present?
      = @language.english_name
    - else
      = t('value.not_set')

    %h3.heading-small
      = t('helpers.label.language.welsh_name')
    - if @language.welsh_name.present?
      = @language.welsh_name
    - else
      = t('value.not_set')

    %h3.heading-small
      = t('helpers.label.language.code')
    = @language.code

    %h3.heading-small
      = t('label.Inactive')
    = @language.inactive ? 'Yes' : 'No'


    .button-holder
      = link_to t('action.edit'), edit_language_path(@language), class: 'button-secondary', role: 'button'
      = link_to t('action.done'), languages_path, class: 'button button-left-spacing', role: 'button'

  .column-one-third
