.grid-row
  .column-two-thirds

    %p
      %b English name:
      = @language.english_name

    %p
      %b Welsh name:
      = @language.welsh_name

    %p
      %b Code:
      = @language.code

    = link_to 'Edit', edit_language_path(@language), {class:'button-secondary', role:'button'}
    = link_to 'Continue', languages_path, class: 'button button-left-spacing'

  .column-one-third