.grid-row
  .column-full

    - if @user.errors.any?

      .error-summary{role: 'group', 'aria-labelledby': 'error-summary-user-form', tabindex: '-1'}
        %h1#error-summary-user-form.heading-medium.error-summary-heading
          = "#{pluralize(@user.errors.count, "error")} prevented these details from being saved:"
        %p
        %ul.error-summary-list
          - @user.errors.full_messages.each do |msg|
            %li= msg

.grid-row
  .column-two-thirds

    = form_for @user do |f|
      = f.text_field :first_name
      = f.text_field :last_name
      = f.text_field :email
      = f.password_field :password
      = f.password_field :password_confirmation
      .form-group
        %label.block-label.selection-button-checkbox{ for: "user_inactive" }
          = f.check_box(:inactive, {}, true)
          = t('label.inactive')

      = f.submit class: 'button', role: 'button'
