= form_for @user do |f|

  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prevented this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :first_name
  = f.text_field :last_name
  = f.text_field :email
  = f.password_field :password
  = f.submit 'Save', {class:"button", role:"button"}
