.grid-row
  .column-two-thirds

    - if @user.errors.any?

      .error-summary{ role: 'group', 'aria-labelledby': 'error-summary-user-form', tabindex: '-1' }
        %h1#error-summary-user-form.heading-medium.error-summary-heading
          = t('error_count', count: @user.errors.count ) + t('user.submit_error')

        %ul.error-summary-list
          - @user.errors.full_messages.each do |msg|
            %li= msg

    = form_for @user do |f|
      = f.text_field :first_name
      = f.text_field :last_name
      = f.text_field :email
