- content_for :page_title do
  = "User account management for HMCTS Form finder"

= render partial: 'layouts/header', locals: {page_heading: 'User account management'}

.grid-row
  .column-full

    = link_to 'Create a new User', new_user_path, class: 'button'

    .table-container.container
      %table.report
        %caption
          %span.table-caption
            = @users.size
            current users
        %colgroup
          %col
          %col
          %col
        %thead
          %tr
            %th{scope:'col'}
              = "First name"
            %th{scope:'col'}
              = "Last name"
            %th{scope:'col'}
              = "Email"
            %th
            %th
        %tbody
          - @users.each do |user|
            %tr
              %td
                = user.first_name
              %td
                = user.last_name
              %td
                = user.email
              %td
                = link_to 'Edit', edit_user_path(user), {class:"button-secondary", role:"button"}
              %td
                = link_to 'Delete', user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'button-warning', role:"button"