- content_for :page_title do
  = "User accounts for HMCTS Form finder"

.grid-row
  .column-full

    = render partial: 'layouts/header', locals: {page_heading: 'User accounts'}

    %p
      = t('helpers.label.user.first_name')+':'
      = @user.first_name

    %p
      = t('helpers.label.user.last_name')+':'
      = @user.last_name

    %p
      = t('helpers.label.user.email')+':'
      = @user.email

    %p
      = t('label.inactive')+':'
      = @user.inactive ? 'Yes' : 'No'

.grid-row
  .column-one-half
    = link_to t('links.edit'), edit_user_path(@user), class: 'button-secondary', role: 'button'
  .column-one-half
    = link_to t('links.continue'), users_path, class: 'button button-left-spacing', role: 'button'
