- content_for :page_title do
  = "User accounts for HMCTS Form finder"

.grid-row
  .column-full

    = render partial: 'layouts/header', locals: { page_heading: t('user.summary') }

.grid-row
  .column-two-thirds

    .summary

      .grid-row
        .column-one-third
          = t('helpers.label.user.first_name')+':'
        .column-two-thirds
          = @user.first_name

      .grid-row
        .column-one-third
          = t('helpers.label.user.last_name')+':'
        .column-two-thirds
          = @user.last_name

      .grid-row
        .column-one-third
          = t('helpers.label.user.email')+':'
        .column-two-thirds
          = @user.email

      .grid-row
        .column-one-third
          = t('label.Inactive')+':'
        .column-two-thirds
          = @user.inactive ? 'Yes' : 'No'

    .button-holder
      = link_to t('action.edit'), edit_user_path(@user), class: 'button-secondary', role: 'button'
      = link_to t('action.done'), users_path, class: 'button button-left-spacing', role: 'button'

  .column-one-third
