%nav{ id:'admin-navigation' }
  %ul
    %li
      = link_to "Categories", categories_url
    %li
      = link_to "Assign categories", link_document_categories_search_url
    %li
      = link_to "Documents", documents_url
    %li
      = link_to "Link documents", link_documents_search_url
    %li
      = link_to "Languages", languages_url
    %li
      = link_to "Types", doc_attachment_types_url
    %li
      = link_to "Users", users_url
