.nav.global-nav
  %ul
    %li
      = link_to t('document.heading'), documents_url
    %li
      = link_to t('category.heading'), categories_url
    %li
      = link_to t('language.plural'), languages_url
    %li
      = link_to t('type.heading'), doc_attachment_types_url
    %li
      = link_to t('user.heading'), users_url
