%nav{ id: 'admin-navigation' }
  %ul
    %li
      = link_to t('links.navigation.categories'), categories_url
    %li
      = link_to t('links.navigation.assign_categories'), link_document_categories_search_url
    %li
      = link_to t('links.navigation.documents'), documents_url
    %li
      = link_to t('links.navigation.link_documents'), link_documents_search_url
    %li
      = link_to t('links.navigation.languages'), languages_url
    %li
      = link_to t('links.navigation.types'), doc_attachment_types_url
    %li
      = link_to t('links.navigation.users'), users_url
