%nav{ id: 'admin-navigation' }
  %ul
    %li
      = link_to t('document.heading'), documents_url
    %li
      = link_to t('category.assign'), link_document_categories_search_url
    %li
      = link_to t('document.link'), link_documents_search_url
    %li
      = link_to t('category.heading'), categories_url
    %li
      = link_to t('language.heading'), languages_url
    %li
      = link_to t('type.heading'), doc_attachment_types_url
    %li
      = link_to t('user.heading'), users_url
