.grid-row
  .column-two-thirds

    - if @document.errors.any?

      .error-summary{ role: 'group', 'aria-labelledby': 'error-summary-add-document', tabindex: '-1' }
        %h1#error-summary-add-document.heading-medium.error-summary-heading
          = t('error_count', count: @document.errors.count ) + t('document.submit_error')

        %ul.error-summary-list
          - @document.errors.full_messages.each do |msg|
            %li= msg

    = form_for @document, multipart: true do |f|

      .form-group
        = f.label :attachment, t('document.choose_file')
        = f.file_field :attachment

      = f.text_field :code
      = f.text_field :title
      = f.text_area :summary, { class: 'form-control-2-3 counter', rows: '6', 'data-max-chars': '250' }
      - if locale == :cy
        = f.radio_button_fieldset :doc_attachment_type_id, choices: DocAttachmentType.all, value_method: :id, text_method: :welsh_name
        = f.collection_select :language_id, Language.all, :id, :welsh_name, { selected: 8 }, { class: 'form-control' }
      - else
        = f.radio_button_fieldset :doc_attachment_type_id, choices: DocAttachmentType.all, value_method: :id, text_method: :english_name
        = f.collection_select :language_id, Language.all, :id, :english_name, { selected: 8 }, { class: 'form-control' }

      .form-group
        = f.gov_uk_date_field :content_date, { legend_text: t('document.content_date'), form_hint_text: t('document.content_date-hint') }

      %hr

      .form-group
        = f.gov_uk_date_field :published_date, { legend_text: t('document.publication_date'), form_hint_text: t('document.published_date-hint')  }

      .form-group
        .multiple-choice
          = f.check_box(:inactive, {}, true)
          = f.label :inactive, t('label.inactive'), { class: 'form-label-bold' }

      = f.submit class: 'button', role: 'button', value: t('action.continue')

  .column-one-third
