= form_for @document, multipart: true do | f |

  .form-group
    = f.label :attachment, 'Choose a file to upload'
    = f.file_field :attachment

  = f.text_field :code

  = f.text_field :title

  .form-group
    %fieldset
      %legend
        = t('document_type')
      = f.collection_radio_buttons(:doc_attachment_type_id, DocAttachmentType.all, :id, :english_name) do |b| b.label(class: 'block-label selection-button-radio'){b.radio_button + b.text} end

  .form-group
    = f.collection_select :language_id, Language.all, :id, :english_name, { selected: 8 }, { class: 'form-control' }

  .form-group
    = f.gov_uk_date_field :published_date, legend_text: 'When should this document be published?', placeholders: true

  .form-group
    %label.block-label.selection-button-checkbox{ for: 'document_inactive' }
      = f.check_box(:inactive, {}, true)
      = t('label.inactive')

  = f.submit class: 'button', role: 'button'
  = link_to t('links.cancel'), root_path, class: 'button-warning button-left-spacing', role: 'button'
