.grid-row
  .column-two-thirds
    - if @document.errors.any?

      .error-summary{ role: 'group', 'aria-labelledby': 'error-summary-add-document', tabindex: '-1' }
        %h1#error-summary-add-document.heading-medium.error-summary-heading
          = t('error_count', count: @document.errors.count ) + t('document.submit_error')

        %ul.error-summary-list
          - @document.errors.full_messages.each do |msg|
            %li= msg

    = form_for @document, multipart: true do |f|

      %p
        = t('document.current_file')
        %span.bold
          = @document.attachment_file_name

      .form-group
        = f.label :attachment, t('document.choose_another_file')
        %span.form-hint
          This will replace the current document
        = f.file_field :attachment

      = f.text_field :code
      = f.text_field :title
      = f.text_area :summary, { class: 'form-control-2-3 counter', rows: '6', 'data-max-chars': '250' }
      - if locale == :cy
        = f.radio_button_fieldset :doc_attachment_type_id, choices: DocAttachmentType.all, value_method: :id, text_method: :welsh_name
        = f.collection_select :language_id, Language.all, :id, :welsh_name, { class: 'form-control' }
      - else
        = f.radio_button_fieldset :doc_attachment_type_id, choices: DocAttachmentType.all, value_method: :id, text_method: :english_name
        = f.collection_select :language_id, Language.all, :id, :english_name, { class: 'form-control' }

      .form-group
        = f.gov_uk_date_field :content_date, legend_text: t('document.content_date'), placeholders: true

      %hr

      .form-group
        = f.gov_uk_date_field :published_date, legend_text: t('document.publication_date'), placeholders: true

      .form-group
        .multiple-choice
          = f.check_box(:inactive, {}, true)
          = f.label :inactive, t('label.inactive')

      .button-holder
        - if @document.errors[:document].present?
          = hidden_field_tag 'overwrite_file', true
          = f.submit class: 'button', role: 'button'
          = link_to t('action.cancel'), root_path, class: 'button-secondary button-left-spacing', role: 'button'
        - else
          = f.submit class: 'button', role: 'button'
          = link_to t('action.cancel'), root_path, class: 'button-secondary button-left-spacing', role: 'button'

  .column-one-third
