= form_for @document, multipart: true do |f|

  .form-group
    %p
      The current document file is:
      %span.bold
        = @document.attachment_file_name

    = f.label :attachment, "Choose a different file to upload ?"
    = f.file_field :attachment

  = f.text_field :code

  = f.text_field :title

  .form-group
    %fieldset
      %legend What type of document is this?
      = f.collection_radio_buttons(:doc_attachment_type_id, DocAttachmentType.all, :id, :english_name) do |b| b.label(class: "block-label selection-button-radio"){b.radio_button + b.text} end

  .form-group
    = f.label :language_id, 'language', class: 'form-label'
    = collection_select :document, :language_id, Language.all, :id, :english_name, {}, { class: "form-control" }

  .form-group
    = f.gov_uk_date_field :published_date, legend_text: "When should this document be published?", placeholders: true

  .form-group
    %label.block-label.selection-button-checkbox{ for: "document_inactive" }
      Inactive
      = f.check_box(:inactive, {}, true)

  = f.submit "Update document", { class: "button", role: "button" }
  = link_to "Cancel", root_path, { class: "button-warning button-left-spacing", role: "button" }
