- content_for :page_title do
  = 'Confirmation your documents have been submitted to HMCTS Form finder'

.grid-row
  .column-full
    .confirmation-header

      %h1.page-title.bold-large
        %object{ type: 'image/svg+xml', data: image_path('icons/tick-white.svg'), class: 'confirmation-tick' }
        = t('notice.success')

      .normal
        = @document.attachment_file_name

      .bold-medium
        = t('document.publish_on')

      .bold-large
        = l @document.published_date

    .button-holder
      = link_to t('category.assign'), link_document_categories_link_path( document: @document.id ), class: 'button-secondary', role: 'button'
      = link_to t('document.link'), link_documents_link_path( document: @document.id, document_title: @document.title ), class: 'button-secondary button button-left-spacing', role: 'button'
      = link_to t('action.done'), documents_path, class: 'button button button-left-spacing', role: 'button'
