- content_for :page_title do
  = "Your document linking summary for HMCTS Form finder"

.grid-row
  .column-full
    = render partial: 'layouts/header', locals: { page_heading: 'Summary' }

.grid-row
  .column-one-third
    %h2.heading-medium
      The document:

  .column-two-thirds
    %p
      %span.reference
        = @document.code
      %span.attributes
        = @document.language.english_name
        = @document.file_format
      %br
        = @document.title

- if @linked_documents.exists?

  .grid-row
    .column-one-third
      %h3.heading-medium
        Is linked to:

    .column-two-thirds
      %hr
      %ul.list
        - @linked_documents.each do | item |
          %li
            %span.reference
              = item.code
            %span.attributes
              = item.language.english_name
              = item.file_format
            %br
              = item.title

      = link_to t('document.upload'), link_documents_link_path(document: @document),  class: 'button', role: 'button'

- if @linkedcategories.exists?

  .grid-row
    .column-one-third
      %h3.heading-medium
        Is in these categories:

    .column-two-thirds
      %hr
      %ul.list
        - @linkedcategories.each do | category |
          %li
            = category.category.english_name

      = link_to t('category.assign'), link_document_categories_link_path(document: @document), class: 'button', role: 'button'
