- content_for :page_title do
  = "Document management for HMCTS Form finder"

= render partial: 'layouts/header', locals: {page_heading: 'Documents'}

.grid-row
  .column-full

    = link_to "Add a document", new_document_path, {class: "button", role: 'button'}

    .table-container.container
      %table.report
        %caption
          %span.table-caption
            = "Your submission history"
        %colgroup
          %col
          %col
          %col
          %col
        %thead
          %tr
            %th{scope:'col'}
              = "Code"
            %th{scope:'col'}
              = "Title"
            %th{scope:'col'}
              = "Publish date"
            %th{scope:'col'}
              = "Inactive"
            %th
        %tbody
          - @documents.each do | doc_attachment   |
            %tr
              %td
                = doc_attachment.code
              %td
                = doc_attachment.title
              %td
                = l doc_attachment.published_date if doc_attachment.published_date.present?
              %td
                = doc_attachment.inactive ? "Yes" : "No"
              %td
                = link_to "PDF" , doc_attachment.attachment.url
              %td
                = link_to "Edit", edit_document_path(doc_attachment.id), {class: 'button-secondary', role: 'button'}
