- content_for :page_title do
  = "Document management for HMCTS Form finder"

.grid-row
  .column-full
    = render partial: 'layouts/header', locals: { page_heading: t('document.heading') }

.grid-row
  .column-two-thirds

    %h2.heading-medium
      =t('document.add')

    = link_to t('document.add'), new_document_path, class: 'button', role: 'button'

    %h2.heading-medium
      = t('document.edit')

    = form_tag({:controller => 'documents', :action => 'edit_selected_document'}, :method => 'get', id:'document_select', class:'', role:'search') do
      .form-group
        .autocomplete_select
          = collection_select( :selected_document, params[:id], Document.all, :id, :reference_with_attributes, { prompt: true }, { :id => 'document_list', :class => 'form-control' } )
        = submit_tag t('document.edit'), role: 'button', class: 'button-secondary'

    %h2.heading-medium
      = t('document.publish_on')

  .column-one-third

.grid-row
  .column-full

    - if @documents.size > 0
      .table-container.container
        %table.report
          %colgroup
            %col
            %col
            %col
          %thead
            %tr
              %th{scope:'col'}
                = t('label.date')
              %th{scope:'col'}
                = t('helpers.label.document.code')
              %th{scope:'col'}
                = t('helpers.label.document.title')
          %tbody
            - @documents.each do |document|
              %tr
                %td.font-xsmall
                  = document.published_date.strftime('%d/%m/%Y')
                %td.font-xsmall
                  = document.code
                %td.font-xsmall
                  = link_to document.title, edit_document_path(document)

    - else
      %p
        = t('notice.nothing_queued')
