- content_for :page_title do
  = "Document management for HMCTS Form finder"

#documents-index

  .grid-row
    .column-full
      = render partial: 'layouts/header', locals: { page_heading: t('document.heading') }

  .grid-row
    .column-two-thirds

      %h2.heading-medium
        =t('document.add')

      = link_to t('document.add'), new_document_path, id: 'add-document', class: 'button', role: 'button'

      %h2.heading-medium
        = t('document.edit')

      = form_tag({:controller => 'documents', :action => 'edit_selected_document'}, :method => 'get', id:'item_select', class:'', role:'search') do
        - if locale == :cy
          = label_tag 'auto-suggest-list', 'Rhowch gyfeirnod y ddogfen'
          = collection_select( :selected_document, params[:id], Document.all, :id, :cym_reference_with_attributes, { prompt: true }, { id: 'auto-suggest-list', class: 'form-control' } )
        - else
          = label_tag 'auto-suggest-list', 'Enter document reference'
          = collection_select( :selected_document, params[:id], Document.all, :id, :reference_with_attributes, { prompt: true }, { id: 'auto-suggest-list', class: 'form-control' } )

        = submit_tag t('action.edit'), role: 'button', class: 'auto-suggest button-secondary'

    .column-one-third

  .grid-row
    .column-full

      %h2.heading-medium
        = t('document.publish_on')

      - if @publication_queue.size > 0
        .table-container.container
          %table#publication_queue
            %colgroup
              %col
              %col
              %col
            %thead
              %tr
                %th{scope:'col'}
                  = t('label.date')
                %th{scope:'col'}
                  = t('helpers.label.document.code')
                %th{scope:'col'}
                  = t('helpers.label.document.title')
            %tbody
              - @publication_queue.each do |document|
                %tr.item
                  %td.date
                    = document.published_date.strftime('%d/%m/%Y')
                  %td.reference
                    = document.code
                  %td.title
                    = link_to document.title, edit_document_path(document)

      - else
        %p#empty-queue
          = t('notice.nothing_queued')
