- content_for :page_title do
  = "Document management for HMCTS Form finder"

.grid-row
  .column-full
    = render partial: 'layouts/header', locals: { page_heading: t('document.heading') }

.grid-row
  .column-two-thirds

    = link_to t('document.add'), new_document_path, class: 'button', role: 'button'

    %h2.heading-medium.bold
      = t('document.edit')

    = form_tag({:controller => 'documents', :action => 'edit_selected_document'}, :method => 'get', id:'document_select', class:'', role:'search') do
      .form-group
        = label_tag :document_list, t('document.select_document'), class:'form-label'
        .form-hint
          = t('document.enter_reference')
          %br
          = t('document.example_reference')
        .autocomplete-wrapper
          = collection_select( :selected_document, params[:id], Document.all, :id, :reference_with_attributes, { prompt: true }, { :id => 'document_list', :class => 'form-control' } )
        = submit_tag t('action.edit'), role: 'button', class: 'button'

    .column-one-third
