- content_for :page_title do
  = "Document management for HMCTS Form finder"

= render partial: 'layouts/header', locals: {page_heading: 'Documents'}

.grid-row
  .column-two-thirds

    = link_to t('links.document.new'), new_document_path, class: 'button', role: 'button'

    %h2.heading-medium.bold Edit document

    = form_tag({:controller => 'documents', :action => 'edit_selected_document'}, :method => 'get', id:'document_select', class:'', role:'search') do
      .form-group
        = label_tag :document_list, 'Select the document to edit', class:'form-label'
        .form-hint
          Enter the documents reference/number
          %br
          For example, 'ex107'.
        .autocomplete-wrapper
          = collection_select(:selected_document, params[:id], Document.all, :id, :reference_with_attributes, {}, {:id=>'document_list', :class=>'form-control'})
        = submit_tag t('helpers.submit.edit'), role: 'button', class: 'button'

    .column-one-third
