- content_for :page_title do
  = "Document linking for HMCTS Form finder"

= render partial: 'layouts/header', locals: {page_heading: 'Link Documents'}

- if @documents.count == 0

  .grid-row
    .column-full
      %h2.heading-large Step 3 of 4

  .grid-row
    .column-one-third
      %h3.heading-medium 1st chosen document:

    .column-two-thirds
      %span.reference
        = @document.code
      %span.attributes
        = @document.language.english_name
        = @document.file_format
      .title
        = @document.title

      %hr

  .grid-row
    .column-one-third
      %h3.heading-medium Find the 2nd document to assign to
    .column-two-thirds

      .search-wrapper
        = form_tag url_for(:controller => 'documents', :action => 'links'), :method => 'get', id:'search', class:'search-box', role:'search' do
          = hidden_field_tag 'document', params[:document]
          = label_tag :'search_field', 'Enter the document title or reference/number', class:'form-label'
          = text_field_tag :linksearch, params[:linksearch], :id => 'search_field', class:'form-control'
          = submit_tag 'Search', :name => nil, role: 'button', class: 'button'

      - if @documents.empty?
        -#%p.no-result-message No result found to display
        %p

- else

  .grid-row
    .column-full
      %h2.heading-large Step 4 of 4

  .grid-row
    .column-one-third
      %h3.heading-medium The document
    .column-two-thirds
      %span.reference
        = @document.code
      %span.attributes
        = @document.language.english_name
        = @document.file_format
      .title
        = @document.title

      %hr

  .grid-row
    .column-one-third
      %h3.heading-medium To be linked to
    .column-two-thirds
      %p
        Your searched for
        %i "#{params[:linksearch]}"
        returned the following results:
      %ul.list
        - @documents.each do | item |
          %li
            .item
              %span.reference
                = item.code
              %span.attributes
                = item.language.english_name
                = item.file_format
              .title
                = item.title
            .action
              = link_to t('action.link'), link_documents_connect_path( related_document: item.id, document: params[:document], linksearch: params[:linksearch]), class: 'button', role: 'button'

- unless @linked_documents.nil?

  .grid-row
    .column-full
      %hr

  .grid-row
    .column-one-third
      %h3.heading-medium
        The
        = @document.code
        %span.attributes
          = @document.language.english_name
          format
        is already linked to:
    .column-two-thirds

      %ul.list
        - @linked_documents.each do | item |
          %li
            .item
              %span.reference
                = item.code
              %span.attributes
                = item.language.english_name
                = item.file_format
              .title
                = item.title
            .action
              = link_to t('links.remove'), link_documents_disconnect_path( related_document: item.id, document: params[:document], linksearch: params[:linksearch]), class: 'button-warning', role: 'button'
.column-one-third
  = link_to t('Next'), link_documents_summary_path(document: params[:document])
