- content_for :page_title do
  = "Assign category to a document in HMCTS Form finder"

.grid-row
  .column-full
    = render partial: 'layouts/header', locals: { page_heading: t('document.add') }

.grid-row
  .column-two-thirds

    %h2.heading-large
      = t('document.link')

    %h3.heading-small
      = t('document.selected')

    %p
      = @document.code
      %span.attributes
        - if locale == :cy
          = @document.language.welsh_name
        - else
          = @document.language.english_name
        = @document.file_format
      %br
      = @document.title

    %h3.heading-small
      = t('document.linked_to')

    - if @linked_documents.size > 0
      .grid-row
        - @linked_documents.each do |item|
          .list
            .column-two-thirds
              = item.code
              %span.attributes
                - if locale == :cy
                  = item.language.welsh_name
                - else
                  = item.language.english_name
                = item.file_format
            .column-one-third
              = link_to t('action.remove'), link_documents_disconnect_path(selected_document: item.id, document: params[:document], linksearch: params[:linksearch])
    -else
      %p
        = t('document.no_links')

    %h3.heading-small
      = t('document.select')

    = form_tag url_for(:controller => 'documents', :action => 'connect'), :method => 'get', class:'', role:'search' do

      = hidden_field_tag 'document', @document.id

      .grid-row.form-group
        .column-two-thirds.autocomplete_select
          - if locale == :cy
            = collection_select( nil, :selected_document, @documents, :id, :cym_reference_with_attributes, { prompt: true }, { id: 'auto-suggest-list', class: 'form-control' } )
          - else
            = collection_select( nil, :selected_document, @documents, :id, :reference_with_attributes, { prompt: true }, { id: 'auto-suggest-list', class: 'form-control' } )
        .column-one-third
          = submit_tag t('action.link'), role: 'button', class: 'button-secondary autocomplete-submit'

    .button-holder
      = link_to t('action.continue'), document_path(@document), class: 'button', role: 'button'

  .column-one-third
