- content_for :page_title do
  = "Assign category to a document in HMCTS Form finder"

#link-documents

  .grid-row
    .column-full
      = render partial: 'layouts/header', locals: { page_heading: t('document.link') }

  .grid-row
    .column-two-thirds

      %h2.heading-small
        = t('document.selected')

      %span.reference
        = @document.code
      %span.attributes
        - if locale == :cy
          = @document.language.welsh_name
        - else
          = @document.language.english_name
        = @document.file_format
      %span.title
        = @document.title

      %h2.heading-small
        = t('document.linked_to')

      #linked-list
        - if @linked_documents.size > 0
          - @linked_documents.each do |item|
            .grid-row
              .column-two-thirds
                = item.code
                %span.attributes
                  - if locale == :cy
                    = item.language.welsh_name
                  - else
                    = item.language.english_name
                  = item.file_format
              .column-one-third
                = link_to t('action.remove'), link_documents_disconnect_path(selected_document: item.id, document: params[:document], linksearch: params[:linksearch])
        -else
          = t('document.no_links')

      %h2.heading-small
        = t('document.select')

      = form_tag url_for(:controller => 'documents', :action => 'connect'), :method => 'get', id:'item_select', class:'', role: 'search' do

        = hidden_field_tag 'document', @document.id

        .form-group
          .autocomplete_select
            - if locale == :cy
              = label_tag 'auto-suggest-list', 'Rhowch gyfeirnod y ddogfen'
              = collection_select( nil, :selected_document, @documents, :id, :cym_reference_with_attributes, { prompt: true }, { id: 'auto-suggest-list', class: 'form-control' } )
            - else
              = label_tag 'auto-suggest-list', 'Enter document reference'
              = collection_select( nil, :selected_document, @documents, :id, :reference_with_attributes, { prompt: true }, { id: 'auto-suggest-list', class: 'form-control' } )

            = submit_tag t('action.link'), role: 'button', class: 'auto-suggest button-secondary'

      = link_to t('action.continue'), document_path(@document), class: 'button', role: 'button'

    .column-one-third
