- content_for :page_title do
  = "Your submitted documents for HMCTS Form finder"

.grid-row
  .column-full
    = render partial: 'layouts/header', locals: {page_heading: 'Document management'}

    = form_tag url_for(:controller => 'documents', :action => 'search'), :method => 'get' do
      = text_field_tag :search, params[:search], :id => 'search_field'
      = submit_tag 'Search', :name => nil

    .table-container.container
      %table.report
        %caption
          %span.table-caption
            = 'Your search results'
        %colgroup
          %col
          %col
          %col
        %thead
          %tr
            %th{scope:'col'}
              = 'Reference number'
            %th{scope:'col'}
              = 'Title'
            %th{scope:'col'}
              = 'Publish date'
            %th
            %th
        %tbody
          - @documents.each do | item |
            %tr
              %td
                = item.code
              %td
                = item.title
              %td
                = l item.published_date if item.published_date.present?
              %td
                = link_to t('action.select'), link_documents_link_path( document: item.id), class: 'button-secondary', role: 'button'
          -if @documents.empty?
            %p No result found to display
