- content_for :page_title do
  = "Your document summary for HMCTS Form finder"

= render partial: 'layouts/header', locals: { page_heading: 'Summary' }

.grid-row
  .column-one-third
    %h2.bold-medium Document:
  .column-two-thirds
    %span.reference
      = @document.code
    %span.attributes
      = @document.language.english_name
      format
    .title
      = @document.title
    %hr

.grid-row
  .column-one-third
    %h2.bold-medium Is linked to:
  .column-two-thirds
    - if @linkeddocuments.exists?
      %ul.list
        - @linkeddocuments.each do | doc_attachment |
          %li
            %span.reference
              = doc_attachment.code
            %span.attributes
              = doc_attachment.language.english_name
              format
            .title
              = doc_attachment.title
      = link_to 'Link to another document', link_documents_link_path(:document => @document), { class:"button", role:"button" }
    - else
      %p No documents
      = link_to 'Link to a document', link_documents_link_path(:document => @document), { class:"button", role:"button" }
    %hr

.grid-row
  .column-one-third
    %h2.bold-medium Is in these categories:
  .column-two-thirds
    - if @linkedcategories.exists?
      %ul.list
        - @linkedcategories.each do | category |
          %li
            = category.category.english_name
      = link_to 'Assign to another category', link_document_categories_link_path(:document => @document), { class:"button", role:"button" }
    - else
      %p none
      = link_to 'Assign to a category', link_document_categories_link_path(:document => @document), { class:"button", role:"button" }
