- content_for :page_title do
  = "Your submitted documents for HMCTS Form finder"

= render partial: 'layouts/header', locals: {page_heading: 'Document upload'}

#TODO Add upload form
= link_to "Add documents", new_doc_attachment_path, {class: "button", role: 'button'}
<!--#TODO Add attachments report-->

.table-container.container
  %table.report
    %caption
      %span.table-caption
        = "Your submission history"
      %span.claim-count
        =# t('.show_count', page_count: claims.size, total: claims.total_count)
    %colgroup
      %col
      %col
      %col
    %thead
      %th{scope:'col'}
        = "File"
      %th{scope:'col'}
        = "Code"
      %th{scope:'col'}
        = "Title"
      %th{scope:'col'}
        = "Type"
      %th{scope:'col'}
        = "Publish date"
    %tbody 
      - @doc_attachments.each do | doc_attachment   |
        %tr
          %td
            = "#{doc_attachment.attachment_file_name} (#{number_to_human_size(doc_attachment.attachment_file_size, precision: 2)})"
          %td
            = doc_attachment.code
          %td
            = doc_attachment.title
          %td
            = doc_attachment.doc_attachment_type.name
          %td
            = l doc_attachment.published_date if doc_attachment.published_date.present?
          %td
            = link_to "Edit document", edit_doc_attachment_path(doc_attachment.id)
          %td
            = link_to "Delete document", doc_attachment,:confirm => "are you sure?", :method => :delete