= form_for @category do |f|
  - if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "error")} prevented this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :english_name

  = f.text_field :welsh_name

  .form-group
    %label.block-label.selection-button-checkbox{ for: "category_inactive" }
      Inactive
      = f.check_box(:inactive, {}, true)

  = f.submit 'Save', {class:"button", role:"button"}
