- content_for :page_title do
  = "Document categories for HMCTS Form finder"

= render partial: 'layouts/header', locals: {page_heading: 'Document categories'}

.grid-row
  .column-full

    = link_to 'Add a category', new_category_path, {class:"button", role:"button"}

    .table-container.container
      %table.report
        %caption
          %span.table-caption
            = @categories.size
            categories current available
        %colgroup
          %col
          %col
          %col
        %thead
          %tr
            %th{scope:'col'}
              = "English name"
            %th{scope:'col'}
              = "Welsh name"
            %th{scope:'col'}
              = "Inactive"
            %th
        %tbody
          - @categories.each do |category|
            %tr
              %td
                = category.english_name
              %td
                = category.welsh_name
              %td
                = category.inactive ? 'Yes' : 'No'
              %td
                = link_to 'Edit', edit_category_path(category), {class:"button-secondary", role:"button"}
