- content_for :page_title do
  = "Document categories for HMCTS Form finder"

.grid-row
  .column-full

    = render partial: 'layouts/header', locals: { page_heading: t('category.heading') }

    = link_to t('category.add'), new_category_path, class: 'button', role: 'button'

    %h2.heading-medium
      = t('partial.currently')
      = pluralize(@active_categories.size, t('category.active.singular'), t('category.active.plural'))

      -if @inactive_categories.size > 0
        = t('partial.and')

        - if @active_categories.size > 10
          = link_to @inactive_categories.size.to_s + ' ' + t('label.inactive'), '#inactive_list'

        -else
          = @inactive_categories.size
          = t('label.inactive')

    - if @active_categories.size > 0

      .table-container.container
        %table#active_list
          %caption
            %span.table-caption
              = t('category.active.table_caption')
          %colgroup
            %col
            %col
            %col
          %thead
            %tr
              %th{scope:'col'}
                = t('helpers.label.category.english_name')
              %th{scope:'col'}
                = t('helpers.label.category.welsh_name')
              %th
                = t('label.actions')
          %tbody
            - @active_categories.each do |category|
              %tr{ id: category.id, class: 'item' }
                %td.english
                  = category.english_name
                %td.welsh
                  = category.welsh_name
                %td.action
                  = link_to t('action.edit'), edit_category_path(category)

    - if @inactive_categories.size > 0

      .table-container.container
        %table#inactive_list
          %caption
            %span.table-caption
              = t('category.inactive_table_caption')
            %colgroup
              %col
              %col
              %col
            %thead
              %tr
                %th{scope:'col'}
                  = t('helpers.label.category.english_name')
                %th{scope:'col'}
                  = t('helpers.label.category.welsh_name')
                %th
                  = t('label.actions')
            %tbody
              - @inactive_categories.each do |category|
                %tr{ id: category.id, class: 'item' }
                  %td.english
                    = category.english_name
                  %td.welsh
                    = category.welsh_name
                  %td.action
                    = link_to t('action.edit'), edit_category_path(category)

= link_to 'Top', '#content', class: 'top'
