- content_for :page_title do
  = "Document categories for HMCTS Form finder"

.grid-row
  .column-full

    = render partial: 'layouts/header', locals: { page_heading: t('category.heading') }

    = link_to t('category.add'), new_category_path, class: 'button', role: 'button'

    .table-container.container
      %table.report
        %caption
          %span.table-caption
            = @categories.size
            = t('category.available')
        %colgroup
          %col
          %col
          %col
        %thead
          %tr
            %th{scope:'col'}
              = t('helpers.label.category.english_name')
            %th{scope:'col'}
              = t('helpers.label.category.welsh_name')
            %th{scope:'col'}
              = t('label.inactive')
            %th
        %tbody
          - @categories.each do | category |
            %tr
              %td
                = category.english_name
              %td
                = category.welsh_name
              %td
                = category.inactive ? 'Yes' : 'No'
              %td
                = link_to t('action.edit'), edit_category_path(category)
