- content_for :page_title do
  = "Document categories for HMCTS Form finder"

.grid-row
  .column-full

    = render partial: 'layouts/header', locals: { page_heading: t('category.heading') }

    = link_to t('category.add'), new_category_path, class: 'button', role: 'button'

    - if @active_categories.size > 0 && @inactive_categories.size == 0

      %h2.heading-medium
        = t('all')
        = @active_categories.size
        = t('category.all_active')

    - elsif @active_categories.size == 0 && @inactive_categories.size > 0

      %h2.heading-medium
        = t('all')
        = @inactive_categories.size
        = t('category.all_inactive')

    - elsif @active_categories.size == 0 && @inactive_categories.size == 0

      %h2.heading-medium
        = t('category.none')

    - else

      %h2.heading-medium
        There are
        = pluralize(@active_categories.size, t('category.active.singular'), t('category.active.plural'))
        and
        = pluralize(@inactive_categories.size, t('category.inactive.singular'), t('category.inactive.plural'))

    - if @active_categories.size > 0

      .table-container.container
        %table.report
          %caption
            %span.table-caption
              = t('category.active_table_caption')
          %colgroup
            %col
            %col
            %col
          %thead
            %tr
              %th{scope:'col'}
                = t('helpers.label.category.english_name')
              %th{scope:'col'}
                = t('helpers.label.category.welsh_name')
              %th
          %tbody
            - @active_categories.each do |category|
              %tr
                %td
                  = category.english_name
                %td
                  = category.welsh_name
                %td
                  = link_to t('action.edit'), edit_category_path(category)

    - if @inactive_categories.size > 0

      .table-container.container
        %table.report
          %caption
            %span.table-caption
              = t('category.inactive_table_caption')
            %colgroup
              %col
              %col
              %col
            %thead
              %tr
                %th{scope:'col'}
                  = t('helpers.label.category.english_name')
                %th{scope:'col'}
                  = t('helpers.label.category.welsh_name')
                %th
            %tbody
              - @inactive_categories.each do |category|
                %tr
                  %td
                    = category.english_name
                  %td
                    = category.welsh_name
                  %td
                    = link_to t('action.edit'), edit_category_path(category)
