- content_for :page_title do
  = "Document categories for HMCTS Form finder"

.grid-row
  .column-full

    = render partial: 'layouts/header', locals: {page_heading: 'Document categories'}

    - if @category.english_name.present?
      %p
        English name:
        = @category.english_name

    - if @category.welsh_name.present?
      %p
        Welsh name:
        = @category.welsh_name

    %p
      Inactive:
      = @category.inactive ? 'Yes' : 'No'

.grid-row
  .column-one-half
    = link_to 'Edit', edit_category_path(@category), {class:'button-secondary', role:'button'}
  .column-one-half
    = link_to 'Continue', categories_path, {class: 'button button-left-spacing', role:'button'}
