- content_for :page_title do
  = "Document category management for HMCTS Form finder"

= render partial: 'layouts/header', locals: {page_heading: 'Document category management'}

.grid-row
  .column-two-thirds

    %p
      %b English name:
      = @category.english_name

    %p
      %b Welsh name:
      = @category.welsh_name

    %p
      %b Inactive:
      = @category.inactive ? 'Yes' : 'No'

    = link_to 'Edit', edit_category_path(@category), {class:'button-secondary', role:'button'}
    = link_to 'Continue', categories_path, class: 'button button-left-spacing'

  .column-one-third
