= form_for @document_category do |f|
  - if @document_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@document_category.errors.count, "error")} prohibited this document_category from being saved:"
      %ul
        - @document_category.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :document
    = f.text_field :document
  .field
    = f.label :category
    = f.text_field :category
  .field
    = f.label :sort_order
    = f.number_field :sort_order
  .actions
    = f.submit 'Save'
