- content_for :page_title do
  = "Assign category to a document in HMCTS Form finder"

#assign-categories

  .grid-row
    .column-full
      = render partial: 'layouts/header', locals: { page_heading: t('document.add') }

  .grid-row
    .column-two-thirds

      %h2.heading-large
        = t('category.assign')

      %h3.heading-small
        = t('document.selected')

      %span.reference
        = @document.code
      %span.attributes
        - if locale == :cy
          = @document.language.welsh_name
        - else
          = @document.language.english_name
        = @document.file_format
      %span.title
        = @document.title

      %h3.heading-small
        = t('category.assigned')

      #assignment-list
        - if @document.document_categories.size > 0
          - @document.document_categories.each do |item|
            .grid-row
              .column-two-thirds
                - if locale == :cy
                  = item.category.welsh_name
                - else
                  = item.category.english_name
              .column-one-third
                = link_to t('action.remove'), assign_document_categories_unassign_path(related_category: item.id, document: @document.id, linksearch: params[:linksearch])
        -else
          = t('category.no_assignments')

      %h3.heading-small
        = t('category.select')

      = form_tag url_for(:controller => 'document_categories', :action => 'assigns'), :method => 'get', id:'item_select', class:'', role:'search' do

        = hidden_field_tag 'document', @document.id

        .form-group
          .autocomplete_select
            - if locale == :cy
              = label_tag 'auto-suggest-list', "Rhowch enw'r categori"
              = collection_select( nil, :selected_category, @document.unrelated_categories, :id, :welsh_name, { prompt: true }, { id: 'auto-suggest-list', class: 'form-control' } )
            - else
              = label_tag 'auto-suggest-list', 'Enter category name'
              = collection_select( nil, :selected_category, @document.unrelated_categories, :id, :english_name, { prompt: true }, { id: 'auto-suggest-list', class: 'form-control' } )

            = submit_tag t('action.assign'), role: 'button', class: 'auto-suggest button-secondary'

      = link_to t('action.continue'), link_documents_link_path(document: @document.id), class: 'button', role: 'button'

    .column-one-third
