%h1 Listing document_categories

%table
  %thead
    %tr
      %th Document
      %th Category
      %th Sort order
      %th
      %th
      %th

  %tbody
    - @document_categories.each do |document_category|
      %tr
        %td= document_category.document.title
        %td= document_category.category.english_name
        %td= document_category.sort_order
        %td= link_to t('links.show'), document_category
        %td= link_to t('links.edit'), edit_document_category_path(document_category)
        %td= link_to t('links.remove'), document_category, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to t('links.add_category'), new_document_category_path
