- content_for :page_title do
  = "Assign Category for HMCTS Form finder"

= render partial: 'layouts/header', locals: {page_heading: 'Assign categories'}

- if @categories.count == 0

  .grid-row
    .column-full
      %h2.heading-large
        Step 3 of 4
      %h3.heading-medium
        Find the category to assign to this document:

    .column-two-thirds
      %span.reference
        = @document.code
      %span.attributes
        = @document.language.english_name
        format
      .title
        = @document.title
      %br
      .search-wrapper
        = form_tag url_for(:controller => 'document_categories', :action => 'links'), :method => 'get', id:'search', class:'search-box', role:'search' do
          = hidden_field_tag 'document', params[:document]
          = hidden_field_tag 'document_title', params[:document_title]
          = label_tag :'search_field', 'Enter the category name', class:'form-label'
          = text_field_tag :linksearch, params[:linksearch], :id => 'search_field', class:'form-control'
          = submit_tag "Search", :name => nil, role:"button", class:"button"

      .column-one-third

- if @categories.empty?
  -#.grid-row
  -#  .column-two-thirds
  -#    %p.no-result-message No categories where found for this search
  %p

- else
  .grid-row
    .column-full
      %h2.heading-large
        Step 4 of 4
      %h3.heading-medium
        Choose a category to assign to this document

  .grid-row
    .column-two-thirds
      %span.reference
        = @document.code
      %span.attributes
        = @document.language.english_name
        format
      .title
        = @document.title

      %ul.list
        - @categories.each do | doc_attachment |
          %li
            .item
              = doc_attachment.english_name
              - if doc_attachment.welsh_name != nil
                %br
                Welsh:
                = doc_attachment.welsh_name
            .action
              = link_to "Assign", link_document_categories_connect_path(:related_category => doc_attachment.id, :document => params[:document], :document_title => params[:document_title], :linksearch => params[:linksearch]), class:'button', role:'button'

.grid-row
  .column-full
    %hr
    %h3.heading-medium
      = @document.code
      is already assigned to these categories:

.grid-row
  .column-two-thirds
    - if @linkedcategories.exists?
      %ul.list
        - @linkedcategories.each do | doc_attachment |
          %li
            .item
              = doc_attachment.category.english_name
              - if doc_attachment.category.welsh_name != nil
                %br
                Welsh:
              = doc_attachment.category.welsh_name
            .action
              = link_to "Remove", link_document_categories_unconnect_path(:related_category => doc_attachment.id, :document => params[:document], :linksearch => params[:linksearch]), class:'button-warning', role:'button'
    - else
      none
  .column-one-third
