- content_for :page_title do
  = "Assign Category for HMCTS Form finder"

= render partial: 'layouts/header', locals: {page_heading: 'Assign categories'}

- if @categories.count == 0

  .grid-row
    .column-full

      %h2.heading-large Step 3 of 4

  .grid-row
    .column-one-third
      %h3.heading-medium The document

    .column-two-thirds
      %span.reference
        = @document.code
      %span.attributes
        = @document.language.english_name
        = @document.file_format
      .title
        = @document.title

      %hr

  .grid-row
    .column-one-third
      %h3.heading-medium Find the category to assign to this document
    .column-two-thirds
      .search-wrapper
        = form_tag url_for(:controller => 'document_categories', :action => 'links'), :method => 'get', id:'search', class:'search-box', role:'search' do
          = hidden_field_tag 'document', params[:document]
          = hidden_field_tag 'document_title', params[:document_title]
          = label_tag :'search_field', 'Enter the category name', class:'form-label'
          = text_field_tag :linksearch, params[:linksearch], :id => 'search_field', class:'form-control'
          = submit_tag 'Search', :name => nil, role:'button', class:'button'
      - if @categories.empty?
        -#%p.no-result-message No categories where found for this search
        %p

- else

  .grid-row
    .column-full
      %h2.heading-large Step 4 of 4

  .grid-row
    .column-one-third
      %h3.heading-medium The document
    .column-two-thirds
      %span.reference
        = @document.code
      %span.attributes
        = @document.language.english_name
        = @document.file_format
      .title
        = @document.title
      %hr

  .grid-row
    .column-one-third
      %h3.heading-medium Choose a category
    .column-two-thirds
      %p
        Your searched for
        %i "#{params[:linksearch]}"
        returned the following results:

      %ul.list
        - @categories.each do |item|
          %li
            .item
              = item.english_name
              - if item.welsh_name != nil
                %br
                Welsh:
                = item.welsh_name
            .action

              = link_to t('action.assign'), link_document_categories_connect_path(related_category: item.id, document: params[:document], document_title: params[:document_title], linksearch: params[:linksearch]), class: 'button', role: 'button'

- unless @document_categories.nil?

  .grid-row
    .column-full

      %hr

  .grid-row
    .column-one-third
      %h3.heading-medium
        The
        = @document.code
        %span.attributes
          = @document.language.english_name
          format
        is already assigned to these categories:
    .column-two-thirds
      - if @document_categories.exists?

        %ul.list
          - @document_categories.each do | item |
            %li
              .item
                = item.category.english_name
                - if item.category.welsh_name != nil
                  %br
                  Welsh:
                = item.category.welsh_name
              .action

                = link_to t('links.remove'), link_document_categories_unconnect_path(related_category: item.id, document: params[:document], linksearch: params[:linksearch]), class: 'button-warning', role: 'button'

