- content_for :page_title do
  = "Assign Category for HMCTS Form finder"

= render partial: 'layouts/header', locals: {page_heading: 'Assign categories'}

- if @documents.count == 0

  .grid-row
    .column-full

      %h2.heading-large Step 1 of 4

  .grid-row
    .column-one-third
      %h3.heading-medium Find the document you'd like to assign to a category
    .column-two-thirds

      .search-wrapper
        = form_tag url_for(:controller => 'document_categories', :action => 'search'), :method => 'get', id:'search', class:'search-box', role:'search' do
          = label_tag :'search_field', 'Enter a document title or reference/number', class:'form-label'
          = text_field_tag :search, params[:search], :id => 'search_field', class:'form-control'
          = submit_tag "Search", :name => nil, role:"button", class:"button"

      - if @documents.empty?
        -#%p.no-result-message No result found to display
        %p


- else

  .grid-row
    .column-full

      %h2.heading-large Step 2 of 4

  .grid-row
    .column-one-third
      %h3.heading-medium Select a document
    .column-two-thirds
      %p
        Your searched for
        %i "#{params[:search]}"
        returned the following results:

      %ul.list
        - @documents.each do | item |
          %li
            .item
              %span.reference
                = item.code
              %span.attributes
                = item.language.english_name
                = item.file_format
              .title
                = item.title
            .action
              = link_to t('action.select'), link_document_categories_link_path( document: item.id, document_title: item.title ), class: 'button-secondary', role: 'button'
