- content_for :page_title do
  = "Assign Category for HMCTS Form finder"

= render partial: 'layouts/header', locals: {page_heading: 'Assign categories'}

- if @documents.count == 0

  .grid-row
    .column-full
      %h2.heading-large
        Step 1 of 4
      %h3.heading-medium
        Find the document you'd like to assign to a category

  .grid-row
    .column-half
      .search-wrapper
        = form_tag url_for(:controller => 'document_categories', :action => 'search'), :method => 'get', id:'search', class:'search-box', role:'search' do
          = label_tag :'search_field', 'Enter a document title or reference/number', class:'form-label'
          = text_field_tag :search, params[:search], :id => 'search_field', class:'form-control'
          = submit_tag "Search", :name => nil, role:"button", class:"button"
    .column-half

- else

  .grid-row
    .column-full
      %h2.heading-large
        Step 2 of 4
      %h3.heading-medium
        Your searched for
        %i
          "
          #{params[:search]}
          "
        &nbsp;returned the following results. Please select one
      %ul.list
        - @documents.each do | doc_attachment |
          %li
            .item
              %span.reference
                = doc_attachment.code
              %span.attributes
                = doc_attachment.language.english_name
                format
              .title
                = doc_attachment.title
            .action
              = link_to "Select", link_document_categories_link_path( :document => doc_attachment.id, :document_title => doc_attachment.title ), {class:"button-secondary", role:"button"}
