%p#notice= notice

%p
  %b Document:
  = @document_category.document.title
%p
  %b Category:
  = @document_category.category.english_name
%p
  %b Sort order:
  = @document_category.sort_order

= link_to t('action.edit'), edit_document_category_path(@document_category)
\|
= link_to t('action.back'), document_categories_path
