.grid-row
  .column-two-thirds

    - if @doc_attachment_type.errors.any?

      .error-summary{ role: 'group', 'aria-labelledby': 'error-summary-add-type', tabindex: '-1' }
        %h1#error-summary-add-type.heading-medium.error-summary-heading
          = t('error_count', count: @doc_attachment_type.errors.count ) + t('type.submit_error')

        %ul.error-summary-list
          - @doc_attachment_type.errors.full_messages.each do |msg|
            %li= msg

    = form_for @doc_attachment_type do |f|

      .form-group
        = f.text_field :english_name

      .form-group
        = f.text_field :welsh_name

      .form-group
        %label.block-label.selection-button-checkbox{ for: 'type_inactive' }
          = f.check_box(:inactive, {}, true)
          = t('label.inactive')

      .button-holder
        = f.submit class: 'button', role: 'button'
        = link_to t('action.cancel'), doc_attachment_types_path, class: 'button-secondary  button-left-spacing', role: 'button'

  .column-two-thirds
