- content_for :page_title do
  = "Document types for HMCTS Form finder"

= render partial: 'layouts/header', locals: {page_heading: 'Document types'}

.grid-row
  .column-full

    = link_to 'Add a type', new_doc_attachment_type_path, {class:"button", role:"button"}

    .table-container.container
      %table.report
        %caption
          %span.table-caption
            = @doc_attachment_types.size
            types current available
        %colgroup
          %col
          %col
          %col
        %thead
          %tr
            %th{scope:'col'}
              = "English name"
            %th{scope:'col'}
              = "Welsh name"
            %th{scope:'col'}
              = "Inactive"
            %th
        %tbody
          - @doc_attachment_types.each do | doc_attachment_type |
            %tr
              %td
                = doc_attachment_type.english_name
              %td
                = doc_attachment_type.welsh_name
              %td
                = doc_attachment_type.inactive ? 'Yes' : 'No'
              %td
                = link_to 'Edit', edit_doc_attachment_type_path(doc_attachment_type), {class:"button-secondary", role:"button"}
