- content_for :page_title do
  = "Document types for HMCTS Form finder"

.grid-row
  .column-full

    = render partial: 'layouts/header', locals: { page_heading: t('type.heading') }

    = link_to t('type.add'), new_doc_attachment_type_path, class: 'button', role: 'button'

    %h2.heading-medium
      = t('partial.currently')
      = pluralize(@active_doc_attachment_types.size, t('type.active.singular'), t('type.active.plural'))
      -if @inactive_doc_attachment_types.size > 0
        = t('partial.and')
        - if @active_doc_attachment_types.size > 10
          = link_to @inactive_doc_attachment_types.size.to_s + ' ' + t('label.inactive'), '#inactive-table'
        -else
          = @inactive_doc_attachment_types.size
          = t('label.inactive')

    - if @active_doc_attachment_types.size > 0

      .table-container.container
        %table#inactive-table.report
          %caption
            %span.table-caption
              = t('type.active.table_caption')
          %colgroup
            %col
            %col
            %col
          %thead
            %tr
              %th{scope:'col'}
                = t('helpers.label.doc_attachment_type.english_name')
              %th{scope:'col'}
                = t('helpers.label.doc_attachment_type.welsh_name')
              %th{scope:'col'}
                = t('label.actions')
          %tbody
            - @active_doc_attachment_types.each do |doc_attachment_type|
              %tr
                %td
                  = doc_attachment_type.english_name
                %td
                  = doc_attachment_type.welsh_name
                %td
                  = link_to t('action.edit'), edit_doc_attachment_type_path(doc_attachment_type)

    - if @inactive_doc_attachment_types.size > 0

      .table-container.container
        %table.report
          %caption
            %span.table-caption
              = t('type.inactive_table_caption')
          %colgroup
            %col
            %col
            %col
          %thead
            %tr
              %th{scope:'col'}
                = t('helpers.label.doc_attachment_type.english_name')
              %th{scope:'col'}
                = t('helpers.label.doc_attachment_type.welsh_name')
              %th{scope:'col'}
                = t('label.actions')
          %tbody
            - @inactive_doc_attachment_types.each do |doc_attachment_type|
              %tr
                %td
                  = doc_attachment_type.english_name
                %td
                  = doc_attachment_type.welsh_name
                %td
                  = link_to t('action.edit'), edit_doc_attachment_type_path(doc_attachment_type)

= link_to 'Top', '#content', class: 'top'
