%h1 Listing doc_attachment_types

%table
  %thead
    %tr
      %th English name
      %th Welsh name
      %th
      %th
      %th

  %tbody
    - @doc_attachment_types.each do |doc_attachment_type|
      %tr
        %td= doc_attachment_type.english_name
        %td= doc_attachment_type.welsh_name
        %td= link_to 'Show', doc_attachment_type
        %td= link_to 'Edit', edit_doc_attachment_type_path(doc_attachment_type)
        %td= link_to 'Destroy', doc_attachment_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Doc attachment type', new_doc_attachment_type_path
