- content_for :page_title do
  = "Document types for HMCTS Form finder"

.grid-row
  .column-full

    = render partial: 'layouts/header', locals: { page_heading: t('type.summary') }

.grid-row
  .column-two-thirds

    .summary

      - if @doc_attachment_type.english_name.present?

        .grid-row
          .column-one-third
            = t('helpers.label.doc_attachment_type.english_name')+':'
          .column-two-thirds
            = @doc_attachment_type.english_name

      - if @doc_attachment_type.welsh_name.present?

        .grid-row
          .column-one-third
            = t('helpers.label.doc_attachment_type.welsh_name')+':'
          .column-two-thirds
            = @doc_attachment_type.welsh_name

      .grid-row
        .column-one-third
          = t('label.inactive')+':'
        .column-two-thirds
          = @doc_attachment_type.inactive ? 'Yes' : 'No'

    .button-holder
      = link_to t('action.edit'), edit_doc_attachment_type_path(@doc_attachment_type), class: 'button-secondary', role: 'button'
      = link_to t('action.done'), doc_attachment_types_path, class: 'button button-left-spacing', role: 'button'

  .column-one-third
